* {
  box-sizing: border-box;
  font-family: "Lucida Sans Typewriter", monospace;
  letter-spacing: 2px;
  user-select: none; // Default
  -ms-user-select: none; // IE/Edge
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -moz-user-select: none; // Old Firefox

  color: #fe9;
  margin: 0;
  padding: 0;
  // border: 1px solid red; //testing only remove for release
}
html {
  font-size: 62.5%;
}
